*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root{
  --primary-blue:#41c4e0;
  --primary-green:rgba(65, 224, 136, 1);
  --primary-font-color: #000;
  --secondary-font-color: #555;
  --light-green:#a0f0c4;
  --lighter-green: rgba(237, 253, 252, 1);
  --light-blue: #7ad6e9;
  --lighter-blue: #c6edf6;

}
.head-section{
  padding: 10px 20px;
  width: 100%;
}
.telehealth{
  display: flex;
  padding: 10px 40px;
  gap: 30px;
  align-items: center;
  margin-bottom: 40px;
}
.telehealth p{
 width: 40%;

}
.telehealth p a{
 font-size: 20px;
 text-decoration: none;
 color: black;
}
.telehealth p a:hover{
  color: #555;
}
.telehealth h2{
  color: var(--primary-green);
  text-align: center;
  font-size: 30px;
}
.see-doctor{
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* align-items: center; */
  justify-content: center;
  padding-left: 5%;
  margin-bottom: 20px;
}
.see-doctor p{
  line-height: 20px;
}
.default-btn{
  max-width: max-content;
  padding: 10px;
  border-radius: 6px;
  border: 1px ;
  background-color: var(--primary-green);
  color: white;
  cursor: pointer;
}
.how-it-works{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.how-it-works h2{
  color: var(--primary-green);
  font-size: 30px;
}
.how-it-works-images{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 20px 30px;
}
.each-how-it-works-image{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid; */
  padding: 20px;
  border-radius: 20px;
  box-shadow:4px 4px 10px rgba(0, 0, 0, 0.2) ;
}
.each-how-it-works-image p{
  padding: 30px;
}
.each-how-it-works-image img{
  width: 100%;
}
.book-appointment{
  margin: 2rem;
  display: flex;
  align-items: center;
  /* width: 100%; */
  justify-content: space-evenly;
}
.book-appointment h3{
  font-size: 30px;
  text-align: center;

}
.default-btn2{
    display: inline-block;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    font-weight: bold;
    margin-right: 1rem;
    border: 1px var(--primary-green) solid;
   background: none;  
   background: var(--primary-green);
   color:#fff;
  
}
.what-you-need{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 40px 0px;
  padding: 20px 10px;
  gap: 10px;
}
.what-you-need h3, .frequently-asked-questions h3{
  font-size: 30px;
  color: var(--primary-green);
}
.what-you-need-images{
  display: grid;
 grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  align-items: center;
  justify-content: center;
  
  
}
.each-what-you-need-image{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  box-shadow:4px 4px 10px rgba(0, 0, 0, 0.2) ;
}
.hidden-across-all-screens{
  display: none;
}
.frequently-asked-questions{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}
.the-question{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  /* background-color: red; */
}
.the-question p{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 20px;
  text-align: flex-start;
  border-radius: 6px;
  box-shadow:4px 4px 10px rgba(0, 0, 0, 0.2) ;
}
.frequently-asked-questions p{
  font-size: 20px;
}
.frequently-asked-questions p b{
  cursor: pointer;
  
}
.invsible-for-large-screens{
  display: none;
  padding: 10px;
}
@media screen and (max-width: 600px) {
  .invsible-for-mini-screens{
    display: none;
  }
  .invsible-for-large-screens{
    display:block;
  }
  .how-it-works-images{
    justify-content: center;
    align-items: center;
    grid-template-columns:1fr;
  }
  .book-appointment{
    flex-direction: column;
  }
  .what-you-need-images{
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .each-what-you-need-image img{
    width: 90%;

  }
  .the-question{
    width: 100%;
    padding: 0px;
  }
  .the-question p{
    margin: 0px;
    width: 100%;
  }
  .invsible-for-mini-screens{
    display: none;
  }
}
@media (min-width:601px) and (max-width:1023px) {
  .tablets-invisible{
    display: none;
  }
  .how-it-works-images{
    grid-template-columns: repeat(3, 1fr);
  }
  .what-you-need-images{
    grid-template-columns:1fr;
  }
  
}